/*Custom CSS goes here*/

/*Used for blog part of the site*/

.blog-container{
  text-align: center;

}

.blog-container p{
  margin-top: 5px;
  font-size: 15px;
}

.blog-section{
  background-color: rgba(221,221,221,0.41);
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(221,221,221,0.41);
  max-width: 100%;
  display:block;
  margin-top: 10px;
  padding: 10px;
}

.blog-search-bar{
  width:100%;
}

.blog-section .personal-post-container{
  background-color: #fff;
  border-radius: 5px;
  border-style: solid;
  border-color: #b40000;
  display:block;
  padding: 10px;
  width: 100px;
}

.blog-section .friend-post-container{
  background-color: #fff;
  border-radius: 5px;
  border-style: solid;
  border-color: #0093b4;
  display:block;
  padding: 10px;
  width: 100px;
}
